@import "_colors";

.heading {
    font-weight: bold;
    padding: 0 15px;
    margin-top: 10px;

    + p {
        margin-top: 0;
    }
}

@for $i from 1 through 6 {
    h#{$i} {
        @extend .heading;

        font-size: (24 - (($i - 1) * 2)) / 16 + em;
        margin-bottom: (12.8 - ($i - 1) * 5) / 16 + em;
    }
}

p { padding: (5 / 16) + em 15px; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

> pre {
    &, code {
        width: 100%;
        display: block;
    }
}

code {
    display: inline;
    background: #333;
    color: white;
    padding: 3px 8px;
    @include border-radius(3px);
}

> pre code {
    background: #333;
    color: white;
    font-weight: bold;
    font-family: adelle, monospoce;
    line-height: 1.5em;

    margin: 20px 0;

    $fontSize: 16;
    @include background(linear-gradient(lighten(#333, 5) 50%, #333 50%, #333));
    @include background-size(#{50 / $fontSize}em #{50 / $fontSize}em);
    display: block;
    border: none;
    padding: #{25 / $fontSize}em 15px;
    line-height: #{25 / $fontSize}em;
    overflow: auto;
}

pre + blockquote {
    margin-top: 30px;
}

blockquote {
    background: #ddd;
    margin: 20px 0;
    padding: 5px;
    border-left: 10px solid $blue;
    font-style: italic;
    font-family: "adelle", sans-serif;
}

a {
    color: $blue;
    font-weight: bold;

    &:hover {
        color: darken($blue, 5);
    }
}

ul, ol {
    margin: 10px 15px;

    li {
        margin: 5px;
        margin-left: 15px;
    }
}

ul li { list-style: square; }
ol li { list-style: decimal; }

img {
    max-width: 300px;
    width: 100%;
    float: right;
    margin: 0 0 10px 10px;
}